{% extends 'racuni/base.html' %}
{% load static %} 

{% block title %}Hello there{% endblock %}
{% block head2 %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <br><br>
            <div class="jumbotron min-vh-60 text-center bg-transparent m-0 d-flex flex-column justify-content-center">
                <h4 class="display-4" style="font-size: x-large;">Web aplikacija za pohranu računa</h4>
                <h1 class="display-4" style="font-size: x-large;">Napravili:</h1>
                <h1 class="display-4" style="font-size: xx-large;">Azra Subašić i Martin Luk</h1>
                <p class="lead">Riteh 2021.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block bottom %}

{% endblock %}